.ppshader {
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.44);
  z-index: 99990;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popin {
  background-color: #6a9ee2;
  border: 1px solid white;
  padding: 3em;
}

.popin__title {
  margin-bottom: 1.5em;
  text-align: center;
}

.popin__input {
  margin-bottom: 0.75em;
}

